html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: monospace;
    background-color: #f8e7e0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
.oops {

    margin-top: 125px;
    margin-left: 80px;
    
    max-width: 80%;

    font-size: 63px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}


.quote {
    margin-top: 12px;
    margin-left: 80px;

    max-width: 80%;

    font-size: 40px;
    color: rgb(59, 39, 39);
}

.button {
    margin-top: 27px;
    margin-left: 80px;

    padding: 16px 28px;
    width: 480px;

    background: rgb(220, 38, 38);
    color: white;

    font-size: 25px;
    font-weight: 600;

    border-radius: 14px;

    cursor: pointer;

    transition: all 0.25s ease;
}

.logocontainer {
    margin-top: 80px;
    margin-left: 80px;

    max-width: 90%;

    display: flex;
    align-items: center; /* vertical alignment */
    gap: 30px; /* space between image and text */

}


.logo {
    position: absolute;
    width: 350px;

    display: flex;
    justify-content: center;
}

.desc {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.6;

    margin-left: 400px;
    margin-right: 5%;
}



a {
    text-decoration: none;
}





.learnmore-button {
    margin-top: 80px;
    margin-left: 80px;
    max-width: 700px;

    padding: 16px 28px;

    background: rgb(94, 29, 29);
    color: white;

    font-size: 25px;
    font-weight: 600;

    border-radius: 14px;

    cursor: pointer;

    transition: all 0.25s ease;
}


.footer {
    margin-top: 80px;
    bottom: 0px;

    text-align: center;
    font-size: 14px;

    background-color: black;
    color: white;

    padding: 15px;
}

.anastasiahrtn {
    width: 200px;
}


@media (max-width: 768px) {

    .oops {

        margin-top: 125px;
        margin-left: 30px;

        max-width: 80%;

        font-size: 45px;
        font-weight: bold;
        color: rgb(255, 0, 0);
    }

    .quote {
        margin-top: 20px;
        margin-left: 30px;

        max-width: 80%;

        font-size: 24px;
        line-height: 1.4;
    }

    .button {
        margin-top: 30px;
        margin-left: 28px;
        width: 350px;

        font-size: 18px;
        text-align: center;

        padding: 14px 18px;
    }


    .logocontainer {
        margin-top: 50px;
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 25px;
    }

    .logo {
        position: relative;
        top: 10px;
        width: 250px;
    }

    .desc {
        margin: 0;

        font-size: 18px;
        line-height: 1.7;

    }

    .learnmore-button {
        margin-top: 50px;
        margin-left: 28px;
        width: 350px;

        font-size: 18px;
        text-align: center;

        padding: 14px 18px;
    }



}